body {
  font-family: "Audiowide", sans-serif;
  font-style: normal;
  font-weight: normal;
}

a:link {
    color: gold;
    background-color: transparent;
    text-decoration: none;
  }
  
a:visited {
    color: gold;
    background-color: transparent;
    text-decoration: none;
  }