body {
    font-family: "Audiowide", sans-serif;
    font-style: normal;
    font-weight: normal;
    background-color: #2A2A2A;
    color: #78F866;
  }

  #gameSelect {
    background-color: #A7FF46;
  }
  
  a:link {
      color: #A7FF46;
      background-color: transparent;
      text-decoration: none;
    }
    
  a:visited {
      color: #78F866;
      background-color: transparent;
      text-decoration: none;
    }
